# for upgrade
pip
setuptools

# default package
jupyter
jupyterlab
## jupyter labextension install @jupyter-widgets/jupyterlab-manager
## jupyter labextension install jupyter-matplotlib
ipykernel
ipympl

tensorflow
matplotlib
numpy
pandas

# for edgetpu
## Install edgetpu wheel
Pillow
pycairo
PyGObject

# speech recognition
deepspeech

