#gamecontainer {
  width:640px;
  height:480px;
  background: url(images/splashscreen.png);
  border: 1px solid black;
}

.gamelayer {
  width:640px;
  height:480px;
  position:absolute;
  display:none;
}

/* Game Starting Menu Screen */
#gamestartscreen {
  padding-top:250px;
  text-align:center;
}

#gamestartscreen img {
  margin:10px;
  cursor:pointer;
}

/* Level Selection Screen */
#levelselectscreen {
  padding-top:150px;
  padding-left:50px;
}

#levelselectscreen input {
  margin:20px;
  cursor:pointer;
  background:url(images/icons/level.png) no-repeat;
  color:yellow;
  font-size:20px;
  width:64px;
  height:64px;
  border:0;
}

